[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
attrdict = "*"
wheel = "*"
twine = "*"
pyyaml = "*"
configparser = "*"
paramsparser = {editable = true, path = "."}

[requires]
python_version = "3.8"
